// This is the file to override the variables
// to match your app's branding.

//colour variables

//$primary   = #027BE3
$primary = rgba(192, 20, 36,1) /* #c01424 */ 
$secondary = rgba(4, 149, 188, 1) /*#0495bc*/
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


//font variables


@import url('https://fonts.googleapis.com/css?family=Open+Sans')
//@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons')

//@font-face
   //font-family OpenSans
  // font-style normal
  // src url(fonts/Open_Sans/OpenSans-Bold.ttf)

$typography-font-family         ?= 'OpenSans', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

  // body
     //  font-family 'OpenSans'








   
  
